*.a
*.exe
*.o
*/.deps/
*~
+*
/gnulib-tests/*
!/gnulib-tests/Makefile.am
/ChangeLog
/GNUmakefile
/README-release
/config.cache
/config.log
/config.status
/doc/Makefile
/doc/sed.1
/doc/sed.info
/doc/stamp-vti
/doc/version.texi
/lib/Makefile
/maint.mk
/po/Makefile
/po/Makevars
/po/POTFILES
/po/sed.pot
/po/stamp-po
/sed-*.tar.xz
/sed/Makefile
/sed/sed
/testsuite/*.log
/testsuite/*.trs
/testsuite/Makefile
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
config_h.in
configure
depcomp
m4
mdate-sh
missing
