*.a
*.exe
*.o
*/.deps/
**~
+*
/gnulib-tests/*
!/gnulib-tests/Makefile.am
/.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/README-release
/THANKS
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/git-version-gen
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/config.cache
/config.h
/config.log
/config.rpath
/config.status
/config_h.in
/configure
/doc/Makefile
/doc/sed.1
/doc/sed.info
/doc/stamp-vti
/doc/version.texi
/lib/Makefile
/lib/arg-nonnull.h
/lib/c++defs.h
/lib/charset.alias
/lib/configmake.h
/lib/glthread/
/lib/selinux/
/lib/unused-parameter.h
/lib/warn-on-use.h
/m4
/maint.mk
/po/Makefile
/po/Makevars
/po/POTFILES
/po/sed.pot
/po/stamp-po
/sed-*.tar.xz
/sed-[4-9]*
/sed/Makefile
/sed/sed
/sed/version.[ch]
/stamp-h1
/testsuite/*.log
/testsuite/*.trs
/testsuite/Makefile
/testsuite/eval.in2
/testsuite/utf8-[1-4].out
Makefile
Makefile.in
