*.a
*.exe
*.o
*/.deps/
**~
+*
*.gcda
*.gcno
.dirstamp
/gnulib-tests/*
!/gnulib-tests/Makefile.am
/.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/README-release
/THANKS
/aclocal.m4
/autom4te.cache
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/git-version-gen
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/config.cache
/config.h
/config.log
/config.rpath
/config.status
/config_h.in
/configure
/doc/.dirstamp
/doc/.gitignore
/doc/Makefile
/doc/coverage/
/doc/sed.1
/doc/sed.aux
/doc/sed.cp
/doc/sed.cps
/doc/sed.fn
/doc/sed.fns
/doc/sed.info
/doc/sed.ky
/doc/sed.log
/doc/sed.op
/doc/sed.pdf
/doc/sed.pg
/doc/sed.toc
/doc/sed.tp
/doc/sed.vr
/doc/stamp-vti
/doc/version.texi
/lib/.dirstamp
/lib/Makefile
/lib/arg-nonnull.h
/lib/c++defs.h
/lib/charset.alias
/lib/configmake.h
/lib/glthread/
/lib/selinux/
/lib/unused-parameter.h
/lib/warn-on-use.h
/lib/alloca.h
/lib/ctype.h
/lib/errno.h
/lib/fcntl.h
/lib/getopt-cdefs.h
/lib/getopt.h
/lib/inttypes.h
/lib/langinfo.h
/lib/limits.h
/lib/locale.h
/lib/se-context.h
/lib/se-selinux.h
/lib/stdalign.h
/lib/stdarg.h
/lib/stdbool.h
/lib/stddef.h
/lib/stdint.h
/lib/stdio.h
/lib/stdlib.h
/lib/string.h
/lib/time.h
/lib/unistd.h
/lib/wchar.h
/lib/wctype.h
/m4
/maint.mk
/po/Makefile
/po/Makevars
/po/POTFILES
/po/sed.pot
/po/stamp-po
/sed-*.tar.xz
/sed-*.tar.xz.sig
/sed-[4-9]*
/sed/.dirstamp
/sed/Makefile
/sed/sed
/sed/version.[ch]
/stamp-h1
/testsuite/*.log
/testsuite/*.trs
/testsuite/Makefile
/testsuite/eval.in2
/testsuite/get-mb-cur-max
/testsuite/test-mbrtowc
/testsuite/utf8-[1-4].out
Makefile
Makefile.in
test-suite.log
