/remove-potcdate.sin
/quot.sed
/insert-header.sin
/en@quot.header
/en@boldquot.header
/boldquot.sed
/Rules-quot
/Makevars.template
/Makefile.in.in
*.gmo
*.po
.reference
LINGUAS
Makefile.in.in
Makevars.template
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sed
insert-header.sin
quot.sed
remove-potcdate.sed
remove-potcdate.sin
